html, body, .root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  overflow: hidden;
}

button, input, details, summary {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
  outline: none;
  box-sizing: border-box; 
}

button, input {
  border: 1px solid #ccc;
  border-radius: 3px;
}

button, label, summary {
  user-select: none;
  cursor: pointer;
}

button {
  height: 32px;
}

button:hover, input:hover {
  border: 1px solid #333;
}

input {
  line-height: 16px;
  height: 32px;
  padding: 5px;
}

input[type='checkbox'] {
  width: auto;
  height: auto;
  margin: 8px 0;
}

details {
  padding-left: 10px;
  padding-right: 10px;
}

summary {
  height: 22px;
}

.root {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  flex: 1;
  display: flex;
  border-radius: 5px;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 5px 0px rgba(34, 34, 34, 0.25);
  background-color: #fff;
}

.canvas-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.drawer {
  height: 100%;
  overflow: auto;
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(34, 34, 34, 0.25);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.row.zebra {
  background-color: #fafafa;
}

.column {
  flex: 1;
  margin: 0 10px; 
}

.column.input {
  flex: 0 0 50px;
}

.column.shrink {
  flex: 0;
}

.block {
  display: block;
}

.separator {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
}

.state-table {
  padding: 10px 0;
}

.state-table-row {
}

.state-table-column {
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #fafafa;
}

.state-table-column input {
  margin-top: 5px;
  text-align: center;
}

label.state-table-column {
  padding-top: 5px;
}

@media only screen and (max-width:600px){
  html, body, .root {
    overflow: auto;
    height: auto;
  }

  .content {
    flex-direction: column;
  }

  .canvas-wrapper {
    width: 100%;
    padding-bottom: 100%;
  }

  .drawer {
    flex: auto;
  }
}